embed,
img,
object,
video {
  max-width: 100%;
}
sup {
  font-size: 58.3%;
  vertical-align: text-top;
}
sub {
  font-size: 58.3%;
  vertical-align: text-bottom;
}
.no-space-between-inline-blocks {
  *letter-spacing: normal; /*reset IE < 8*/
  letter-spacing: -0.31em; /*webkit*/
  word-spacing: -0.43em; /*IE < 8 && gecko*/
}
/*restore spacing on inner elements*/
.no-space-between-inline-blocks > * {
  letter-spacing: normal;
  word-spacing: normal;
}
.displace {
  left: -5000px;
  position: absolute;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  margin-top: 0;
}
.COLS_IN_ROW_WITHOUT_GAP {
  margin-left: -15px;
  margin-right: -15px;
}
.navbar-nav > li > a {
  padding: unset;
}
.navbar-nav > li > a:hover {
  background: unset;
}
a {
  color: inherit;
}
@media (min-width:1200px){
  .auto-clear .col-lg-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-lg-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-lg-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-lg-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-lg-6:nth-child(odd){clear:left;}
}
@media (min-width:992px) and (max-width:1199px){
  .auto-clear .col-md-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-md-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-md-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-md-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-md-6:nth-child(odd){clear:left;}
}
@media (min-width:768px) and (max-width:991px){
  .auto-clear .col-sm-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-sm-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-sm-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-sm-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-sm-6:nth-child(odd){clear:left;}
}
@media (max-width:767px){
  .auto-clear .col-xs-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-xs-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-xs-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-xs-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-xs-6:nth-child(odd){clear:left;}
}
html {
  font-size: 10px;
}
body {
  color: #000000;
  font-family: PingFang-SC, serif;
  font-size: 2.8rem; /* 28px / 10px = 2.8rem */
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
}
@media (max-width: 768px) {
html {
  font-size: 8px;
}
}
@media (min-width: 1200px) {
.container {
  width: 1515px;
}
}
.global_container_ {
  float: none;
  height: auto;
  margin: 0 auto;
  position: relative;
  background: #ffffff center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.row-2 {
  overflow: hidden;
  padding: 3.5rem 0 22px;
  position: relative;
  background: #000000;
  background-position: center center;
}
.logo {
  bottom: 20px;
  left: 86px;
  max-width: 227px;
  position: absolute;
  width: 100%;
}
@media (max-width: 768px) {
.logo {
  display: block;
  margin: 15px auto;
  position: relative;
  width: 100%;
  width: auto;
  min-width: unset;
  max-height: unset;
  min-height: unset;
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
}
}
.col-data-wrapper {
  margin: 28px auto 0;
  position: relative;
}
.home {
  margin: 28px auto 0; /* 60px / 313px = 19.169329% */
  font-weight: 500;
  color: #ffffff;
  font-size: 2.4rem;
  letter-spacing: 0.05em;
  text-align: center;
}
.text {
  margin: 28px auto 0;
  font-weight: 500;
  font-size: 2.4rem;
  color: #ffffff;
  letter-spacing: 0.05em;
  text-align: center;
}
.publishers {
  margin: 28px auto 0;
  color: #ffffff;
  font-size: 2.4rem; /* 24px / 10px = 2.4rem */
  font-weight: 500;
  letter-spacing: 0.05em;
  text-align: center;
}
.advertisers {
  margin: 28px auto 0;
  color: #ffffff;
  font-size: 2.4rem; /* 24px / 10px = 2.4rem */
  font-weight: 500;
  letter-spacing: 0.05em;
  text-align: center;
}
.text-2 {
  margin: 28px auto 0;
  color: #ffffff;
  font-size: 2.4rem; /* 24px / 10px = 2.4rem */
  font-weight: 500;
  letter-spacing: 0.05em;
  text-align: center;
}
.container-2 {
  position: relative;
}
.layer-wrapper {
  margin: -1px 0 0;
  position: relative;
}
.layer {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.group-2 {
  overflow: hidden;
  position: relative;
}
.col-data-wrapper-2 {
  margin: 24px auto 0;
  min-height: 646px;
  position: relative;
}
.col {
  left: 50%;
  max-width: 1287px;
  padding: 13.2rem 0 11.5rem;
  position: absolute;
  top: 0;
  width: 82.5%; /* 1287px / 1560px = 82.5% */
  background: #f8f8f8;
  margin-left: -780px;
}
.text-3 {
  margin: 0 0 0 16.317017%; /* 210px / 1287px = 16.317017% */
  width: 60%; /* 545px / 1287px = 42.346542% */
  font-family: sans-serif;
  font-size: 3.6rem; /* 36px / 10px = 3.6rem */
  font-weight: 500;
  line-height: 36px;
}
@media (max-width: 545px) {
.text-3 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.text-4 {
  margin: 7.7rem 0 0 16.317017%; /* 210px / 1287px = 16.317017% */
  width: 60%; /* 564px / 1287px = 43.822845% */
  line-height: 36px;
  font-family: serif;
}
@media (max-width: 564px) {
.text-4 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.advertiese2 {
  left: 50%;
  max-width: 545px;
  position: absolute;
  top: 36px;
  width: 100%;
  margin-left: 235px;
}
@media (max-width: 768px) {
.col-data-wrapper-2 {
  min-height: unset;
}
.col-data-wrapper-2 > * {
  display: block;
  margin: 15px auto;
  position: relative;
  width: 100%;
  min-width: unset;
  max-height: unset;
  min-height: unset;
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
}
}
.container-3 {
  position: relative;
}
.layer-wrapper-2 {
  margin: -130px 0 0;
  position: relative;
}
.layer-2 {
  display: block;
  left: 10.057471%;
  margin: 0 auto;
  max-width: 226px;
  position: relative;
  width: 100%;
}
@media (max-width: 768px) {
.layer-2 {
  left: 0;
}
}
.container-4 {
  position: relative;
}
.group-3 {
  position: relative;
  margin-top: 8rem;
  margin-left: 10rem;
}
.layer-4 {
  left: -16px;
  max-width: 71px;
  position: absolute;
  top: -358px;
  width: 71px;
}
@media (max-width: 768px) {
.layer-4 {
  display: block;
  margin: 15px auto;
  position: relative;
  width: 100%;
  width: auto;
  min-width: unset;
  max-height: unset;
  min-height: unset;
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
}
}
.col-data-wrapper-3 {
  margin: 6.9rem auto 0;
  min-height: 646px;
  position: relative;
}
.col-2 {
  left: 50%;
  max-width: 1430px;
  padding: 7.5rem 0;
  position: absolute;
  top: 0;
  width: 83.870964%; /* 1430px / 1705px = 83.870964% */
  background: #f8f8f8;
  margin-left: -577.5px;
}
.text-5 {
  margin: 0 0 0 27.972029%; /* 400px / 1430px = 27.972029% */
  font-family: sans-serif;
  font-size: 3.6rem; /* 36px / 10px = 3.6rem */
  font-weight: 500;
}
.layer-3 {
  display: block;
  margin: 6.6rem 0 0 27.972029%; /* 400px / 1430px = 27.972029% */
  position: relative;
  width: 93px;
}

.layer-5 {
  display: block;
  margin: 6.6rem 0 0 16%; /* 400px / 1430px = 27.972029% */
  position: relative;
  width: 93px;
}

.text-6 {
  margin: 4.8rem 0 15% 27.972029%; /* 400px / 1430px = 27.972029% */
  width: 60%; /* 575px / 1430px = 40.20979% */
  line-height: 36px;
}
@media (max-width: 575px) {
.text-6 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.advertiese3 {
  left: 50%;
  max-width: 575px;
  position: absolute;
  top: 36px;
  width: 100%;
  margin-left: -852.5px;
}
@media (max-width: 768px) {
.col-data-wrapper-3 {
  min-height: unset;
}
.col-data-wrapper-3 > * {
  display: block;
  margin: 15px auto;
  position: relative;
  width: 100%;
  min-width: unset;
  max-height: unset;
  min-height: unset;
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
}
}
.container-5 {
  position: relative;
}
.text-wrapper {
  position: relative;
}
.text-7 {
  margin: 5.2rem auto 0;
  font-size: 3rem; /* 30px / 10px = 3rem */
  font-weight: bold;
  letter-spacing: 0.05em;
  text-align: center;
  font-family: sans-serif;
}
.container-6 {
  position: relative;
}
.group-4 {
  margin: 3.7rem 0 0;
  padding: 8rem 0 11.2rem;
  position: relative;
  background: #000000;
  background-position: center center;
}
.col-data-wrapper-4 {
  margin: 8px auto 0;
  position: relative;
}
.text-8 {
  margin: 0 0 0 0.493421%; /* 3px / 608px = 0.493421% */
  color: #ffffff;
  font-size: 2.4rem; /* 24px / 10px = 2.4rem */
  font-weight: 500;
  line-height: 36px;
}
.text-9 {
  margin: 11px 0 0;
  color: #ffffff;
  font-size: 2.4rem; /* 24px / 10px = 2.4rem */
}
.container-7 {
  position: relative;
}
.text-style {
  font-size: 3rem; /* 30px / 10px = 3rem */
  font-weight: bold;
}
@media (max-width: 768px) {
.text-4 {
  margin: 7.7% 0 0; /* 210px / 1287px = 16.317017% */
}
}
@media (max-width: 768px) {
.col-data-wrapper-3 {
  margin: 6.9% auto 0;
}
}
@media (max-width: 768px) {
.layer-3 {
  margin: 6.6% 0 0; /* 400px / 1430px = 27.972029% */
}
}
@media (max-width: 768px) {
.text-7 {
  margin: 5.2% auto 0;
}
}
@media (max-width: 768px) {
.col {
  padding: 13.2% 5% 11.5%; /* 38.4px / 768px = 5% */
}
}
@media (max-width: 768px) {
.col-2 {
  padding: 7.5% 5%; /* 38.4px / 768px = 5% */
}
}
@media (max-width: 768px) {
.group-4 {
  padding: 8% 5% 11.2%; /* 38.4px / 768px = 5% */
}
}
