embed,
img,
object,
video {
  max-width: 100%;
}
sup {
  font-size: 58.3%;
  vertical-align: text-top;
}
sub {
  font-size: 58.3%;
  vertical-align: text-bottom;
}
.no-space-between-inline-blocks {
  *letter-spacing: normal; /*reset IE < 8*/
  letter-spacing: -0.31em; /*webkit*/
  word-spacing: -0.43em; /*IE < 8 && gecko*/
}
/*restore spacing on inner elements*/
.no-space-between-inline-blocks > * {
  letter-spacing: normal;
  word-spacing: normal;
}
.displace {
  left: -5000px;
  position: absolute;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  margin-top: 0;
}
.COLS_IN_ROW_WITHOUT_GAP {
  margin-left: -15px;
  margin-right: -15px;
}
.navbar-nav > li > a {
  padding: unset;
}
.navbar-nav > li > a:hover {
  background: unset;
}
a {
  color: inherit;
}
@media (min-width:1200px){
  .auto-clear .col-lg-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-lg-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-lg-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-lg-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-lg-6:nth-child(odd){clear:left;}
}
@media (min-width:992px) and (max-width:1199px){
  .auto-clear .col-md-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-md-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-md-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-md-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-md-6:nth-child(odd){clear:left;}
}
@media (min-width:768px) and (max-width:991px){
  .auto-clear .col-sm-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-sm-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-sm-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-sm-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-sm-6:nth-child(odd){clear:left;}
}
@media (max-width:767px){
  .auto-clear .col-xs-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-xs-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-xs-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-xs-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-xs-6:nth-child(odd){clear:left;}
}
html {
  font-size: 10px;
}
body {
  color: #ffffff;
  font-family: PingFang-SC, serif;
  font-size: 2.4rem; /* 24px / 10px = 2.4rem */
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.05em;
  text-decoration: none;
}
@media (max-width: 768px) {
html {
  font-size: 8px;
}
}
@media (min-width: 1200px) {
.container {
  width: 1525px;
}
}
.global_container_ {
  float: none;
  height: auto;
  margin: 0 auto;
  padding: 0 0 1px;
  position: relative;
  z-index: 0;
  background: #ffffff center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.group-2 {
  overflow: hidden;
  padding: 3.3rem 0 22px;
  position: relative;
  z-index: 14;
  background: #000000;
  background-position: center center;
}
.logo {
  bottom: 19px;
  left: 85px;
  max-width: 227px;
  position: absolute;
  width: 100%;
}
@media (max-width: 768px) {
.logo {
  display: block;
  margin: 15px auto;
  position: relative;
  width: 100%;
  width: auto;
  min-width: unset;
  max-height: unset;
  min-height: unset;
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
}
}
.col-data-wrapper {
  margin: 29px auto 0;
  position: relative;
}
.home {
  margin: 28px auto 0; /* 60px / 313px = 19.169329% */
  font-weight: 500;
  color: #ffffff;
  font-size: 2.4rem;
  letter-spacing: 0.05em;
  text-align: center;
}
.text {
  margin: 28px auto 0;
  font-weight: 500;
  font-size: 2.4rem;
  color: #ffffff;
  letter-spacing: 0.05em;
  text-align: center;
}
.publishers {
  margin: 28px auto 0;
  font-weight: 500;
  text-align: center;
}
.advertisers {
  margin: 28px auto 0;
  font-weight: 500;
  text-align: center;
}
.text-2 {
  margin: 28px auto 0;
  font-weight: 500;
  text-align: center;
}
.container-2 {
  position: relative;
}
.group-3 {
  margin: -45px 0 0;
  padding: 19.8rem 0 21.7rem;
  position: relative;
  z-index: 9;
  background: url(contact-info-images/6.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.text-3 {
  margin: 0 auto;
  color: #f8f8f8;
  font-family: AdobeHeitiStd, serif;
  font-size: 6rem; /* 60px / 10px = 6rem */
  text-align: center;
}
.container-3 {
  position: relative;
}
.group-4 {
  position: relative;
  z-index: 23;
}
.col-3 {
  margin: 8.5rem auto 0;
  position: relative;
}
.text-7 {
  color: #000000;
  font-family: FuturaBT, serif;
  font-size: 4.8rem; /* 48px / 10px = 4.8rem */
  font-weight: bold;
  text-align: center;
}
.shelly {
  margin: 6.8rem 0 0;
  color: #000000;
  font-family: FuturaBT, serif;
  font-size: 3.6rem; /* 36px / 10px = 3.6rem */
  font-weight: bold;
  text-align: center;
}
.row-2-2 {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  margin: 3.7rem auto 0;
  position: relative;
}
.col-6 {
  display: inline-block;
  margin: 21px 0 0;
}
.layer-3 {
  display: block;
  position: relative;
  width: 38px;
}
.layer-4 {
  display: block;
  margin: 29px auto 0;
  width: 44px;
}
.text-8 {
  display: inline-block;
  margin: 0 0 0 10px;
  color: #000000;
  font-size: 3rem; /* 30px / 10px = 3rem */
  font-weight: 500;
  line-height: 72.63712px;
}
.col-2 {
  margin: 8.5rem auto 0;
  position: relative;
}
.text-4 {
  color: #000000;
  font-family: FuturaBT, serif;
  font-size: 4.8rem; /* 48px / 10px = 4.8rem */
  font-weight: bold;
  text-align: center;
}
.text-5 {
  margin: 7rem 0 0;
  color: #000000;
  font-family: FuturaBT, serif;
  font-size: 3.6rem; /* 36px / 10px = 3.6rem */
  font-weight: bold;
  text-align: center;
}
.row-5 {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  margin: 4.4rem auto 0;
  position: relative;
}
.col-4 {
  display: inline-block;
  margin: 24px 0 0;
}
.layer {
  display: block;
  margin: 0 auto;
  width: 38px;
}
.layer-2 {
  display: block;
  margin: 28px auto 0;
  width: 38px;
}
.text-6 {
  display: inline-block;
  margin: 0 0 0 8px;
  color: #000000;
  font-size: 3rem; /* 30px / 10px = 3rem */
  font-weight: 500;
  line-height: 72.63712px;
}
.container-4 {
  position: relative;
}
.group-wrapper {
  position: relative;
  z-index: 35;
}
.group-5 {
  margin: 11.8rem auto 0;
  position: relative;
}
.text-9 {
  color: #000000;
  font-family: FuturaBT, serif;
  font-size: 4.8rem; /* 48px / 10px = 4.8rem */
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
}
.layer-holder {
  margin: 3.5rem auto 0;
  max-width: 1496px;
  min-height: 40px;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #f0f0f0;
  background-position: center center;
}
.text-15 {
  bottom: 10px;
  left: 19px;
  max-width: 96px;
  position: absolute;
  width: 96px;
  color: #aeaeae;
  font-size: 1.8rem; /* 18px / 10px = 1.8rem */
  letter-spacing: 0;
}
@media (max-width: 768px) {
.text-15 {
  display: block;
  margin: 15px auto;
  position: relative;
  width: 100%;
  width: auto;
  min-width: unset;
  max-height: unset;
  min-height: unset;
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
}
}
.layer-holder-2 {
  margin: 23px auto 0;
  max-width: 1496px;
  min-height: 40px;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #f0f0f0;
  background-position: center center;
}
.text-16 {
  bottom: 10px;
  left: 19px;
  max-width: 135px;
  position: absolute;
  width: 135px;
  color: #aeaeae;
  font-size: 1.8rem; /* 18px / 10px = 1.8rem */
  letter-spacing: 0;
}
@media (max-width: 768px) {
.text-16 {
  display: block;
  margin: 15px auto;
  position: relative;
  width: 100%;
  width: auto;
  min-width: unset;
  max-height: unset;
  min-height: unset;
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
}
}
.layer-holder-3 {
  margin: 23px auto 0;
  max-width: 1496px;
  min-height: 40px;
  padding: 9px 1.204013% 13px; /* 18px / 1495px = 1.204013% */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #f0f0f0;
  background-position: center center;
  color: #aeaeae;
  font-size: 1.8rem; /* 18px / 10px = 1.8rem */
  letter-spacing: 0;
}
.layer-holder-4 {
  margin: 22px auto 0;
  max-width: 1496px;
  min-height: 40px;
  padding: 8px 1.204013% 13px; /* 18px / 1495px = 1.204013% */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #f0f0f0;
  background-position: center center;
  color: #aeaeae;
  font-size: 1.8rem; /* 18px / 10px = 1.8rem */
  letter-spacing: 0;
}
.layer-holder-5 {
  margin: 23px auto 0;
  max-width: 1496px;
  min-height: 170px;
  padding: 15px 1.070234% 13.3rem; /* 16px / 1495px = 1.070234% */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #f0f0f0;
  background-position: center center;
  color: #aeaeae;
  font-size: 1.8rem; /* 18px / 10px = 1.8rem */
  letter-spacing: 0;
}
.layer-holder-6 {
  display: table;
  margin: 3.7rem auto 0;
  max-width: 416px;
  min-height: 59px;
  padding: 0 9.632107%; /* 144px / 1495px = 9.632107% */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #000000;
  background-position: center center;
  font-size: 3rem; /* 30px / 10px = 3rem */
  font-weight: 500;
  line-height: 59px;
  text-align: center;
}
.container-5 {
  position: relative;
}
.group-6 {
  margin: 8.9rem 0 0;
  padding: 8rem 0 11.8rem;
  position: relative;
  z-index: 3;
  background: #000000;
  background-position: center center;
}
.col-data-wrapper-2 {
  margin: 8px auto 0;
  position: relative;
}
.text-13 {
  width: 100%; /* 1012px / 1012px = 100% */
  font-weight: 500;
  letter-spacing: 0;
  line-height: 36px;
}
@media (max-width: 1012px) {
.text-13 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.text-14 {
  margin: 11px 0 0;
  letter-spacing: 0;
}
.container-6 {
  position: relative;
}
.text-style {
  font-size: 3rem; /* 30px / 10px = 3rem */
  font-weight: bold;
}
@media (max-width: 768px) {
.col-3 {
  margin: 8.5% auto 0;
}
}
@media (max-width: 768px) {
.shelly {
  margin: 6.8% 0 0;
}
}
@media (max-width: 768px) {
.col-2 {
  margin: 8.5% auto 0;
}
}
@media (max-width: 768px) {
.text-5 {
  margin: 7% 0 0;
}
}
@media (max-width: 768px) {
.group-5 {
  margin: 10% auto 0;
}
}
@media (max-width: 768px) {
.group-6 {
  margin: 8.9% 0 0;
}
}
@media (max-width: 768px) {
.layer-holder-5 {
  padding: 15px 2.083333% 13.3%; /* 16px / 768px = 2.083333% */
}
}
@media (max-width: 768px) {
.group-6 {
  padding: 8% 5% 11.8%; /* 38.4px / 768px = 5% */
}
}
