embed,
img,
object,
video {
  max-width: 100%;
}
sup {
  font-size: 58.3%;
  vertical-align: text-top;
}
sub {
  font-size: 58.3%;
  vertical-align: text-bottom;
}
.no-space-between-inline-blocks {
  *letter-spacing: normal; /*reset IE < 8*/
  letter-spacing: -0.31em; /*webkit*/
  word-spacing: -0.43em; /*IE < 8 && gecko*/
}
/*restore spacing on inner elements*/
.no-space-between-inline-blocks > * {
  letter-spacing: normal;
  word-spacing: normal;
}
.displace {
  left: -5000px;
  position: absolute;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  margin-top: 0;
}
.COLS_IN_ROW_WITHOUT_GAP {
  margin-left: -15px;
  margin-right: -15px;
}
.navbar-nav > li > a {
  padding: unset;
}
.navbar-nav > li > a:hover {
  background: unset;
}
a {
  color: inherit;
}
@media (min-width:1200px){
  .auto-clear .col-lg-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-lg-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-lg-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-lg-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-lg-6:nth-child(odd){clear:left;}
}
@media (min-width:992px) and (max-width:1199px){
  .auto-clear .col-md-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-md-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-md-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-md-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-md-6:nth-child(odd){clear:left;}
}
@media (min-width:768px) and (max-width:991px){
  .auto-clear .col-sm-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-sm-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-sm-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-sm-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-sm-6:nth-child(odd){clear:left;}
}
@media (max-width:767px){
  .auto-clear .col-xs-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-xs-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-xs-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-xs-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-xs-6:nth-child(odd){clear:left;}
}
html {
  font-size: 10px;
}
body {
  color: #000000;
  font-family: PingFang-SC, serif;
  font-size: 2.8rem; /* 28px / 10px = 2.8rem */
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
}
@media (max-width: 768px) {
html {
  font-size: 8px;
}
}
@media (min-width: 1200px) {
.container {
  width: 1525px;
}
}
.global_container_ {
  float: none;
  height: auto;
  margin: 0 auto;
  position: relative;
  background: #ffffff center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.layer-4 {
  left: 210px;
  max-width: 47px;
  position: absolute;
  top: 963px;
  width: 47px;
}
@media (max-width: 768px) {
.layer-4 {
  display: block;
  margin: 15px auto;
  position: relative;
  width: 100%;
  width: auto;
  min-width: unset;
  max-height: unset;
  min-height: unset;
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
}
}
.group-2 {
  padding: 3.1rem 0 24px;
  position: relative;
  background: #000000;
  background-position: center center;
}
.logo {
  bottom: 18px;
  left: 84px;
  max-width: 227px;
  position: absolute;
  width: 100%;
}
@media (max-width: 768px) {
.logo {
  display: block;
  margin: 15px auto;
  position: relative;
  width: 100%;
  width: auto;
  min-width: unset;
  max-height: unset;
  min-height: unset;
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
}
}
.col-data-wrapper {
  margin: 28px auto 0;
  position: relative;
}
.home {
  margin: 28px auto 0; /* 60px / 313px = 19.169329% */
  font-weight: 500;
  color: #ffffff;
  font-size: 2.4rem;
  letter-spacing: 0.05em;
  text-align: center;
}
.text {
  margin: 28px auto 0;
  font-weight: 500;
  font-size: 2.4rem;
  color: #ffffff;
  letter-spacing: 0.05em;
  text-align: center;
}
.publishers {
  margin: 28px auto 0;
  color: #ffffff;
  font-size: 2.4rem; /* 24px / 10px = 2.4rem */
  font-weight: 500;
  letter-spacing: 0.05em;
  text-align: center;
}
.advertisers {
  margin: 28px auto 0;
  color: #ffffff;
  font-size: 2.4rem; /* 24px / 10px = 2.4rem */
  font-weight: 500;
  letter-spacing: 0.05em;
  text-align: center;
}
.text-2 {
  margin: 28px auto 0;
  color: #ffffff;
  font-size: 2.4rem; /* 24px / 10px = 2.4rem */
  font-weight: 500;
  letter-spacing: 0.05em;
  text-align: center;
}
.container-2 {
  position: relative;
}
.layer-wrapper {
  position: relative;
}
.layer {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.text-wrapper {
  position: relative;
}
.text-3 {
  margin: 11rem auto 0;
  font-size: 2.4rem; /* 24px / 10px = 2.4rem */
  font-weight: 500;
  letter-spacing: 0.05em;
  text-align: left;
  font-family: serif;
}
.container-3 {
  position: relative;
}
.text-wrapper-2 {
  position: relative;
}
.text-4 {
  margin: 18px auto 0;
  font-family: sans-serif;
  font-size: 3.6rem; /* 36px / 10px = 3.6rem */
  font-weight: 500;
  letter-spacing: 0.01em;
  text-align: left;
}
.container-4 {
  position: relative;
}
.text-wrapper-3 {
  position: relative;
}
.text-5 {
  margin: 3.3rem auto 0;
  line-height: 36px;
  font-family: serif;
}
.container-5 {
  position: relative;
}
.text-wrapper-4 {
  position: relative;
}
.text-6 {
  margin: 16px auto 0;
  line-height: 36px;
}
.container-6 {
  position: relative;
}
.group-3 {
  margin: 6rem auto 0;
  max-width: 600px;
  min-height: 59px;
  padding: 17px 0 18px;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #000000;
  background-position: 0 0;
}
.layer-2 {
  display: block;
  left: 1%;
  /*margin: 0 auto;*/
  max-width: 500px;
  position: relative;
  width: 100%;
}
@media (max-width: 768px) {
.layer-2 {
  left: 0;
}
}
.container-7 {
  position: relative;
}
.group-4 {
  position: relative;
}
.layer-5 {
  left: -18px;
  max-width: 47px;
  position: absolute;
  top: 210px;
  width: 47px;
}
@media (max-width: 768px) {
.layer-5 {
  display: block;
  margin: 15px auto;
  position: relative;
  width: 100%;
  width: auto;
  min-width: unset;
  max-height: unset;
  min-height: unset;
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
}
}
.col {
  margin: 20rem auto 0;
  position: relative;
}
.text-7 {
  margin: 0 5.587893%; /* 48px / 859px = 5.587893% */
  font-size: 2.4rem; /* 24px / 10px = 2.4rem */
  font-weight: 500;
  letter-spacing: 0.05em;
  font-family: serif;
}
.text-8 {
  margin: 17px 0 0;
  font-size: 3.6rem; /* 36px / 10px = 3.6rem */
  font-weight: 500;
  letter-spacing: 0.05em;
  font-family: sans-serif;
}
.text-9 {
  margin: 3.8rem 0 30px;
  width: 94.87776%; /* 815px / 859px = 94.87776% */
  line-height: 36px;
  font-family: serif;
}
@media (max-width: 815px) {
.text-9 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.publi2 {
  display: block;
  left: 3.057851%;
  margin: 10.6rem auto 0;
  max-width: 570px;
  position: relative;
  width: 100%;
}
@media (max-width: 768px) {
.publi2 {
  left: 0;
}
}
.container-8 {
  position: relative;
}
.group-5 {
  overflow: hidden;
  position: relative;
}
.publi3 {
  display: block;
  margin: 3px auto 0;
  max-width: 570px;
  position: relative;
  right: 2.892562%;
  width: 100%;
}
@media (max-width: 768px) {
.publi3 {
  right: 0;
}
}
@media (max-width: 768px) {
.publi3 {
  margin-bottom: 20px;
}
}
.col-3 {
  margin: 15.3rem auto 0;
  position: relative;
}
.wrapper-2 {
  margin: 0 0 0 0.120773%; /* 1px / 828px = 0.120773% */
  position: relative;
}
.layer-3 {
  float: left;
  height: 3px;
  margin: 15px 0.846433% 0 0; /* 7px / 827px = 0.846433% */
  width: 5.562274%; /* 46px / 827px = 5.562274% */
  background-color: #7ca92d; /*Layer's solid color*/
}
.text-10 {
  font-size: 2.4rem; /* 24px / 10px = 2.4rem */
  font-weight: 500;
  letter-spacing: 0.05em;
  font-family: serif;
}
.text-11 {
  clear: both;
  margin: 15px 12.212817% 0 0.241838%; /* 101px / 827px = 12.212817%, 2px / 827px = 0.241838% */
  font-size: 3.6rem; /* 36px / 10px = 3.6rem */
  font-weight: 500;
  line-height: 36px;
  font-family: sans-serif;
}
.text-12 {
  margin: 3.5rem 0 30px;
  width: 100%; /* 828px / 828px = 100% */
  line-height: 36px;
  font-family: serif;
}
@media (max-width: 828px) {
.text-12 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.container-9 {
  position: relative;
}
.group-6 {
  margin: -1px 0 0;
  position: relative;
}
.layer-6 {
  height: 3px;
  left: -17px;
  max-width: 46px;
  position: absolute;
  top: 184px;
  width: 46px;
  background-color: #7ca92d; /*Layer's solid color*/
}
@media (max-width: 768px) {
.layer-6 {
  display: block;
  margin: 15px auto;
  position: relative;
  width: 100%;
  width: auto;
  min-width: unset;
  max-height: unset;
  min-height: unset;
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
}
}
.col-2 {
  margin: 17.2rem auto 0;
  position: relative;
}
.text-13 {
  margin: 0 0 0 auto;
  font-size: 2.4rem; /* 24px / 10px = 2.4rem */
  font-weight: 500;
  letter-spacing: 0.05em;
  font-family: serif;
}
.text-14 {
  margin: 16px 0 0;
  font-size: 3.6rem; /* 36px / 10px = 3.6rem */
  font-weight: bold;
  letter-spacing: 0.05em;
  font-family: sans-serif;
}
.text-15 {
  margin: 3.8rem 0 30px;
  width: 95.45984%; /* 820px / 859px = 95.45984% */
  line-height: 36px;
}
@media (max-width: 820px) {
.text-15 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  font-family: serif;
}
}
.publi4 {
  display: block;
  left: 3.057851%;
  margin: 0 auto;
  max-width: 570px;
  position: relative;
  width: 100%;
}
@media (max-width: 768px) {
.publi4 {
  left: 0;
}
}
@media (max-width: 768px) {
.publi4 {
  margin-bottom: 20px;
}
}
.container-10 {
  position: relative;
}
.text-wrapper-5 {
  position: relative;
}
.text-16 {
  margin: 11.7rem auto 0;
  font-size: 3rem; /* 30px / 10px = 3rem */
  font-weight: bold;
  letter-spacing: 0.05em;
  text-align: center;
}
.container-11 {
  position: relative;
}
.group-7 {
  margin: 6rem 0 0;
  padding: 8rem 0 11.7rem;
  position: relative;
  background: #000000;
  background-position: center center;
}
.col-data-wrapper-2 {
  margin: 8px auto 0;
  position: relative;
}
.text-17 {
  margin: 0 0 0 0.657895%; /* 4px / 608px = 0.657895% */
  color: #ffffff;
  font-size: 2.4rem; /* 24px / 10px = 2.4rem */
  font-weight: 500;
  line-height: 36px;
}
.text-18 {
  margin: 12px 0 0;
  color: #ffffff;
  font-size: 2.4rem; /* 24px / 10px = 2.4rem */
}
.container-12 {
  position: relative;
}
.text-style {
  font-size: 3rem; /* 30px / 10px = 3rem */
  font-weight: bold;
}
@media (max-width: 768px) {
.text-3 {
  margin: 10% auto 0;
}
}
@media (max-width: 768px) {
.group-3 {
  margin: 6.8% auto 0;
}
}
@media (max-width: 768px) {
.col {
  margin: 10% auto 0;
}
}
@media (max-width: 768px) {
.publi2 {
  margin: 10% auto 0;
}
}
@media (max-width: 768px) {
.col-3 {
  margin: 10% auto 0;
}
}
@media (max-width: 768px) {
.col-2 {
  margin: 10% auto 0;
}
}
@media (max-width: 768px) {
.text-16 {
  margin: 10% auto 0;
}
}
@media (max-width: 768px) {
.group-7 {
  margin: 6% 0 0;
}
}
@media (max-width: 768px) {
.group-7 {
  padding: 8% 5% 11.7%; /* 38.4px / 768px = 5% */
}
}
