embed,
img,
object,
video {
  max-width: 100%;
}
sup {
  font-size: 58.3%;
  vertical-align: text-top;
}
sub {
  font-size: 58.3%;
  vertical-align: text-bottom;
}
.no-space-between-inline-blocks {
  *letter-spacing: normal; /*reset IE < 8*/
  letter-spacing: -0.31em; /*webkit*/
  word-spacing: -0.43em; /*IE < 8 && gecko*/
}
/*restore spacing on inner elements*/
.no-space-between-inline-blocks > * {
  letter-spacing: normal;
  word-spacing: normal;
}
.displace {
  left: -5000px;
  position: absolute;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  margin-top: 0;
}
.COLS_IN_ROW_WITHOUT_GAP {
  margin-left: -15px;
  margin-right: -15px;
}
.navbar-nav > li > a {
  padding: unset;
}
.navbar-nav > li > a:hover {
  background: unset;
}
a {
  color: inherit;
}
@media (min-width:1200px){
  .auto-clear .col-lg-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-lg-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-lg-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-lg-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-lg-6:nth-child(odd){clear:left;}
}
@media (min-width:992px) and (max-width:1199px){
  .auto-clear .col-md-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-md-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-md-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-md-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-md-6:nth-child(odd){clear:left;}
}
@media (min-width:768px) and (max-width:991px){
  .auto-clear .col-sm-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-sm-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-sm-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-sm-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-sm-6:nth-child(odd){clear:left;}
}
@media (max-width:767px){
  .auto-clear .col-xs-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-xs-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-xs-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-xs-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-xs-6:nth-child(odd){clear:left;}
}
html {
  font-size: 10px;
}
body {
  color: #000000;
  font-family: PingFang-SC, serif;
  font-size: 2.8rem; /* 28px / 10px = 2.8rem */
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
}
@media (max-width: 768px) {
html {
  font-size: 8px;
}
}
@media (min-width: 1200px) {
.container {
  width: 1525px;
}
}
.global_container_ {
  float: none;
  height: auto;
  margin: 0 auto;
  position: relative;
  background: #ffffff center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.layer-3 {
  bottom: 944px;
  left: 212px;
  max-width: 47px;
  position: absolute;
  width: 47px;
}
@media (max-width: 768px) {
.layer-3 {
  display: block;
  margin: 15px auto;
  position: relative;
  width: 100%;
  width: auto;
  min-width: unset;
  max-height: unset;
  min-height: unset;
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
}
}
.group-2 {
  padding: 30px 0 22px;
  position: relative;
  background: #000000;
  background-position: center center;
}
.logo {
  bottom: 15px;
  left: 85px;
  max-width: 227px;
  position: absolute;
  width: 100%;
}
@media (max-width: 768px) {
.logo {
  display: block;
  margin: 15px auto;
  position: relative;
  width: 100%;
  width: auto;
  min-width: unset;
  max-height: unset;
  min-height: unset;
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
}
}
.col-data-wrapper {
  margin: 28px auto 0;
  position: relative;
}
.home {
  margin: 28px auto 0; /* 60px / 313px = 19.169329% */
  font-weight: 500;
  color: #ffffff;
  font-size: 2.4rem;
  letter-spacing: 0.05em;
  text-align: center;
}
.text {
  margin: 28px auto 0;
  font-weight: 500;
  font-size: 2.4rem;
  color: #ffffff;
  letter-spacing: 0.05em;
  text-align: center;
}
.publishers {
  margin: 28px auto 0;
  color: #ffffff;
  font-size: 2.4rem; /* 24px / 10px = 2.4rem */
  font-weight: 500;
  letter-spacing: 0.05em;
  text-align: center;
}
.advertisers {
  margin: 28px auto 0;
  color: #ffffff;
  font-size: 2.4rem; /* 24px / 10px = 2.4rem */
  font-weight: 500;
  letter-spacing: 0.05em;
  text-align: center;
}
.text-2 {
  margin: 28px auto 0;
  color: #ffffff;
  font-size: 2.4rem; /* 24px / 10px = 2.4rem */
  font-weight: 500;
  letter-spacing: 0.05em;
  text-align: center;
}
.container-2 {
  position: relative;
}
.layer-wrapper {
  position: relative;
}
.layer {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.row-3 {
  position: relative;
}
.col-2 {
  margin: 17.2rem auto 0;
  position: relative;
}
.text-3 {
  width: 100%; /* 859px / 859px = 100% */
  font-family: FuturaBT, serif;
  font-size: 3.6rem; /* 36px / 10px = 3.6rem */
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 48px;
}
@media (max-width: 859px) {
.text-3 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.text-4 {
  margin: 0.1rem 0 0;
  width: 100%; /* 780px / 859px = 90.80326% */
  line-height: 36px;
  font-family: sans-serif;
}
@media (max-width: 780px) {
.text-4 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.text-5 {
  margin: 23px 0 0;
  width: 100%; /* 663px / 859px = 77.18277% */
  line-height: 36px;
  font-family: serif;
}
@media (max-width: 663px) {
.text-5 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.group-3 {
  margin: 10.1rem 0 30px;
  max-width: 416px;
  min-height: 59px;
  padding: 15px 0 20px;
  position: relative;
  width: 48.428406%; /* 416px / 859px = 48.428406% */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #000000;
}
.group-4 {
  display: table;
  margin: 0 auto;
  position: relative;
}
.text-6 {
  float: left;
  margin: 0 2.232143% 0 0; /* 5px / 224px = 2.232143% */
  width: 89.73214%; /* 201px / 224px = 89.73214% */
  color: #ffffff;
  font-size: 2.5rem; /* 30px / 10px = 3rem */
  font-weight: 500;
  letter-spacing: 0.00em;
  font-family: sans-serif;
}
.layer-2 {
  float: left;
  margin: 11px 0 0;
  max-width: 18px;
  width: 8.035714%; /* 18px / 224px = 8.035714% */
}
@media (max-width: 416px) {
.group-3 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.telegroup {
  display: block;
  left: 2.644628%;
  margin: 12.4rem auto 0;
  max-width: 575px;
  position: relative;
  width: 100%;
}
@media (max-width: 768px) {
.telegroup {
  left: 0;
}
}
.container-3 {
  position: relative;
}
.group-5 {
  margin: 12.4rem 0 0;
  padding: 8rem 0 11.8rem;
  position: relative;
  background: #000000;
  background-position: center center;
}
.col-data-wrapper-2 {
  margin: 8px auto 0;
  position: relative;
}
.text-7 {
  margin: 0 0 0 0.657895%; /* 4px / 608px = 0.657895% */
  color: #ffffff;
  font-size: 2.4rem; /* 24px / 10px = 2.4rem */
  font-weight: 500;
  line-height: 36px;
}
.text-8 {
  margin: 11px 0 0;
  color: #ffffff;
  font-size: 2.4rem; /* 24px / 10px = 2.4rem */
}
.container-4 {
  position: relative;
}
.text-style {
  font-family: serif;
  font-size: 2.4rem; /* 24px / 10px = 2.4rem */
  /* text-transform: uppercase;*/
}
.text-style-2 {
  font-family: PingFang-SC, serif;
  font-size: 2.4rem; /* 24px / 10px = 2.4rem */
}
.text-style-3 {
  font-size: 3rem; /* 30px / 10px = 3rem */
  font-weight: bold;
}
@media (max-width: 768px) {
.col-2 {
  margin: 10% auto 0;
}
}
@media (max-width: 768px) {
.group-3 {
  margin: 10% 0 30px;
}
}
@media (max-width: 768px) {
.telegroup {
  margin: 10% auto 0;
}
}
@media (max-width: 768px) {
.group-5 {
  margin: 10% 0 0;
}
}
@media (max-width: 768px) {
.group-5 {
  padding: 8% 5% 11.8%; /* 38.4px / 768px = 5% */
}
}
